<td class="home-team" data-id="{{match.home.id}}">
  <img src="{{match.home.flag}}" class="flag">
  <div class="team">{{match.home.name}}</div>
</td>
<td class="home-score score">
  {{homeGoalsDisplay}}
  {{#if viewUser}}
    <div class="prediction">
      {{#if isEditable}}
        {{input type="number" min=0 value=prediction.homePrediction insert-newline="updatePrediction" focus-out="updatePrediction" class="form-control"}}
      {{else}}
        {{homePredictionDisplay}}
      {{/if}}
    </div>
  {{/if}}
</td>
<td class="mid-cell">
  <div class="match-date">{{match.matchDate}}</div>
  <div class="vs">-</div>
  <div class="match-date">{{match.matchTime}}</div>
</td>
<td class="away-score score">
  {{awayGoalsDisplay}}
  {{#if viewUser}}
    <div class="prediction">
      {{#if isEditable}}
        {{input type="number" min=0 value=prediction.awayPrediction insert-newline="updatePrediction" focus-out="updatePrediction" class="form-control"}}
      {{else}}
        {{awayPredictionDisplay}}
        {{/if}}
    </div>
  {{/if}}
</td>
<td class="away-team" data-id="{{match.away.id}}">
  <img src="{{match.away.flag}}" class="flag">
  <div class="team">{{match.away.name}}</div>
</td>
{{#if viewUser}}
  <td class="points">{{userPoints}}</td>
{{/if}}
