body {
  background: #0f4583;
}

input {
  border: 1px solid #ddd !important;
  background: #fff !important;
  text-align: center;
  min-width: 32px !important;
}

.btn-small {
    height: 24px !important;
    line-height: 24px !important;
    padding: 0 0.5rem !important;
    font-size: 10px !important;
}

#sidebar {
  background: #0f4583;
  color: #fff;
  position: absolute;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  width: 300px;
  left: 0px;
}

#sidebar .logo {
  margin-top: 24px;
  text-align: center;
  width: 100%;
}

#sidebar .logo img {
  width: 100px;
}

.user-session {
  font-size: 11px;
}

.user-session-login {
  text-align: center;
  margin-bottom: 24px;
}

.logged-user {
  color: #fafafa;
  cursor: pointer;
}

.user-header {
  margin-top: 0px;
  border-bottom: 1px solid #ddd;
}

h4 {
  margin: 0 !important;
  padding: 0 !important;
}

h4 img {
  margin-right: 10px;
}

#ranking {
  margin-top: 0px;
  font-size: 11px;
}

#workarea {
  background-color: #fafafa;
  border-left: 1px solid #ddd;
  position: absolute;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  left: 300px;
  right: 0px;
  padding: 24px;
}

table.matches {
}

table.matches tr th {
  text-align: center;
  vertical-align: middle;
  border-bottom: 3px solid #ddd;
}

table.matches tr td {
  vertical-align: middle;
  border-bottom: 1px solid #dadada;
}

.match-date {
  font-size: 11px;
  color: #777;
}
.logo {
  width: 64px;
  margin: 5px;
}
.team {
  height: 32px;
  padding: 5px;
}

.home-team {
  font-size: 16px;
  text-align: center;
}

.away-team {
  font-size: 16px;
  text-align: center;
}

.bih {
  font-size: 12px !important;
}
.score {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #069;
  width: 52px;
}
.score .glyphicon {
  font-size: 16px;
  color: #777;
}

.prediction {
  font-size: 16px;
  text-align: center;
  color: #000;
  margin: 0 auto;
}

.prediction input {
  text-align: center;
  font-size: 14px;
  width: 48px;
  padding: 2px;
}

.mid-cell {
  color: #000;
  font-size: 14px;
  text-align: center;
}

.vs {
  text-align: center;
  color: #eee;
  font-size: 20px;
}

.points {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #0b0;
}

#rules-header,
#ranking-header {
  font-size: 12px;
  text-transform: uppercase;
  background: #14375e;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding: 2px;
}

.rules {
  margin-top: 12px;
  font-size: 11px;
  color: #fafafa;
  padding: 20px;
}

.rules ul {
  margin: 0;
}

.example {
  font-size: 90%;
  padding: 10px;
  color: #f0f0f0;
}
.operation {
  color: #ddd;
  font-size: 90%;
}

#ranking {
  width: 100%;
  padding: 0;
}

.ranking-user td {
  padding: 10px 5px;
  color: #fafafa;
}

.ranking-user.active td {
  background: #1c589b;
}

.ranking-user {
  color: #fafafa;
  cursor: pointer;
}

.ranking-user img {
  width: 32px;
  margin-right: 5px;
}

.ranking-user .position {
  font-size: 10px;
  text-align: right;
  width: 1em;
}

.ranking-user .username {
  overflow: hidden;
}

.ranking-user .username.position-1 {
  background-image: url(/assets/images/crown.png);
  background-position: left top;
  background-repeat: no-repeat;
}

.ranking-user .userpoints {
  width: 64px;
  text-align: center;
}

.total-points {
  padding-left: 64px;
}




@media only screen and (max-width: 600px) {

  #sidebar {
    width: 150px;
    font-size: 90% !important;
  }
  #workarea {
    left: 150px;
  }
  .logged-user {
    display: none;
  }

  .ranking-user img {
    width: 24px;
    margin-right: 3px;
  }


  .logo img {
    width: 80px;
  }

  h4 {
    font-size: 16px !important;
  }

  .logo {
    width: 24px;
    margin: 3px;
  }
  .team {
    height: 24px;
    padding: 5px;
  }

  .home-team {
    font-size: 11px;
    text-align: right;
  }

  .away-team {
    font-size: 11px;
    text-align: left;
  }
  
}
