<div class="nfl-container">
  
  <div id="sidebar">
    <div class="center-align logo">
      {{#link-to 'application'}}
        <img src="/assets/images/logo.png" class="center">
      {{/link-to}}
    </div>
    <div class="user-session">
      {{#if session.isAuthenticated}}
        <table>
          <tr>
            <td><img class="circle" src="{{session.currentUser.photoURL}}"></td>
            <td>
              {{#link-to 'user' session.currentUser.uid classNames="logged-user"}}
                {{session.currentUser.displayName}}
              {{/link-to}}
            </td>
            <td><button class="btn-small  light-blue darken-4" {{action "signOut"}}>Sign out</button></td>
          </tr>
        </table>
      {{else}}
        <div class="user-session-login">
          <button class="btn-small  light-blue darken-4" {{action "signIn" "facebook"}}>Sign in with Facebook</button>
        </div>
      {{/if}}
    </div>
    <div id="rules">
      <div id="rules-header">Scoring</div>
      <div class="rules">
        <ul>
          <li class="exact-score"></li>
          <li class="winner-prediction">
          </li>
        </ul>
      </div>
    </div>

    <div id="ranking">
      <div id="ranking-header">Ranking</div>
      {{outlet 'ranking'}}
    </div>
  </div>
  <div  id="workarea">
    {{outlet}}
  </div>

</div>
