<div class="user-header">
	<h4 class="valign-wrapper">
	  <img src="{{model.photoUrl}}" class="avatar circle">
	  {{model.displayName}}
	</h4>
	<div class="row total-points">
	  <span class="p-label">Place:</span><span class="p-value">{{{model.positionOrdinal}}}</span>
	  <span class="p-divider"></span>
	  <span class="p-label">Score:</span><span class="p-value">{{model.score}}</span>
	</div>
</div>
{{matches-table matches=matches viewUser=model session=session}}