<table id="ranking">
  {{#each highScores as |user| }}
    {{#link-to 'user' user tagName="tr" classNames="ranking-user"}}
      <td class="position {{user.positionClass}}">{{user.positionOrdinal}}</td>
      <td class="username position-{{user.position}} valign-wrapper"><img src="{{user.photoUrl}}" class="avatar circle">{{user.name}}</td>
      <td class="userpoints {{user.positionClass}}">{{user.score}}</td>
    {{/link-to}}
  {{/each}}
</table>